@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-sans: Fira Code, monospace;
  --font-mono: JetBrains Mono, monospace;
  --font-serif: Open Sans, sans-serif;
  --radius: 2.375rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 2.375rem;
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.3211 0 0);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.3211 0 0);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.3211 0 0);
  --primary: oklch(0.7166 0.1327 162.7699);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.7202 0.1221 278.7026);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.9622 0.0093 106.5724);
  --muted-foreground: oklch(0.5382 0 0);
  --accent: oklch(0.8196 0.0773 241.2663);
  --accent-foreground: oklch(0.3211 0 0);
  --destructive: oklch(0.7530 0.1201 41.1493);
  --border: oklch(0.8699 0 0);
  --input: oklch(0.8699 0 0);
  --ring: oklch(0.7166 0.1327 162.7699);
  --chart-1: oklch(0.7166 0.1327 162.7699);
  --chart-2: oklch(0.7202 0.1221 278.7026);
  --chart-3: oklch(0.8196 0.0773 241.2663);
  --chart-4: oklch(0.5942 0.1062 266.3282);
  --chart-5: oklch(0.6521 0.1394 159.6214);
  --sidebar: oklch(1.0000 0 0);
  --sidebar-foreground: oklch(0.3211 0 0);
  --sidebar-primary: oklch(0.7166 0.1327 162.7699);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.8196 0.0773 241.2663);
  --sidebar-accent-foreground: oklch(0.3211 0 0);
  --sidebar-border: oklch(0.8699 0 0);
  --sidebar-ring: oklch(0.7166 0.1327 162.7699);
  --destructive-foreground: oklch(1.0000 0 0);
  --font-sans: Fira Code, monospace;
  --font-serif: Open Sans, sans-serif;
  --font-mono: JetBrains Mono, monospace;
  --shadow-color: oklch(0 0 0);
  --shadow-opacity: 1;
  --shadow-blur: 7px;
  --shadow-spread: -0.5px;
  --shadow-offset-x: 6.5px;
  --shadow-offset-y: 0px;
  --letter-spacing: -0.05em;
  --spacing: 0.24rem;
  --shadow-2xs: 6.5px 0px 7px -0.5px hsl(0 0% 0% / 0.50);
  --shadow-xs: 6.5px 0px 7px -0.5px hsl(0 0% 0% / 0.50);
  --shadow-sm: 6.5px 0px 7px -0.5px hsl(0 0% 0% / 1.00), 6.5px 1px 2px -1.5px hsl(0 0% 0% / 1.00);
  --shadow: 6.5px 0px 7px -0.5px hsl(0 0% 0% / 1.00), 6.5px 1px 2px -1.5px hsl(0 0% 0% / 1.00);
  --shadow-md: 6.5px 0px 7px -0.5px hsl(0 0% 0% / 1.00), 6.5px 2px 4px -1.5px hsl(0 0% 0% / 1.00);
  --shadow-lg: 6.5px 0px 7px -0.5px hsl(0 0% 0% / 1.00), 6.5px 4px 6px -1.5px hsl(0 0% 0% / 1.00);
  --shadow-xl: 6.5px 0px 7px -0.5px hsl(0 0% 0% / 1.00), 6.5px 8px 10px -1.5px hsl(0 0% 0% / 1.00);
  --shadow-2xl: 6.5px 0px 7px -0.5px hsl(0 0% 0% / 2.50);
  --tracking-normal: -0.05em;
}

.dark {
  --background: oklch(0.2428 0.0151 285.2168);
  --foreground: oklch(0.9219 0 0);
  --card: oklch(0.3462 0.0089 248.0842);
  --card-foreground: oklch(0.9219 0 0);
  --popover: oklch(0.3462 0.0089 248.0842);
  --popover-foreground: oklch(0.9219 0 0);
  --primary: oklch(0.7166 0.1327 162.7699);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.5942 0.1062 266.3282);
  --secondary-foreground: oklch(0.9219 0 0);
  --muted: oklch(0.3867 0 0);
  --muted-foreground: oklch(0.7155 0 0);
  --accent: oklch(0.7202 0.1221 278.7026);
  --accent-foreground: oklch(0.9219 0 0);
  --destructive: oklch(0.7530 0.1201 41.1493);
  --border: oklch(0.3867 0 0);
  --input: oklch(0.3867 0 0);
  --ring: oklch(0.7166 0.1327 162.7699);
  --chart-1: oklch(0.7166 0.1327 162.7699);
  --chart-2: oklch(0.5942 0.1062 266.3282);
  --chart-3: oklch(0.7202 0.1221 278.7026);
  --chart-4: oklch(0.8196 0.0773 241.2663);
  --chart-5: oklch(0.6521 0.1394 159.6214);
  --sidebar: oklch(0.2428 0.0151 285.2168);
  --sidebar-foreground: oklch(0.9219 0 0);
  --sidebar-primary: oklch(0.7166 0.1327 162.7699);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.7202 0.1221 278.7026);
  --sidebar-accent-foreground: oklch(0.9219 0 0);
  --sidebar-border: oklch(0.3867 0 0);
  --sidebar-ring: oklch(0.7166 0.1327 162.7699);
  --destructive-foreground: oklch(1.0000 0 0);
  --radius: 2.375rem;
  --font-sans: Fira Code, monospace;
  --font-serif: Open Sans, sans-serif;
  --font-mono: JetBrains Mono, monospace;
  --shadow-color: oklch(0 0 0);
  --shadow-opacity: 1;
  --shadow-blur: 7px;
  --shadow-spread: -0.5px;
  --shadow-offset-x: 6.5px;
  --shadow-offset-y: 0px;
  --letter-spacing: -0.05em;
  --spacing: 0.24rem;
  --shadow-2xs: 6.5px 0px 7px -0.5px hsl(0 0% 0% / 0.50);
  --shadow-xs: 6.5px 0px 7px -0.5px hsl(0 0% 0% / 0.50);
  --shadow-sm: 6.5px 0px 7px -0.5px hsl(0 0% 0% / 1.00), 6.5px 1px 2px -1.5px hsl(0 0% 0% / 1.00);
  --shadow: 6.5px 0px 7px -0.5px hsl(0 0% 0% / 1.00), 6.5px 1px 2px -1.5px hsl(0 0% 0% / 1.00);
  --shadow-md: 6.5px 0px 7px -0.5px hsl(0 0% 0% / 1.00), 6.5px 2px 4px -1.5px hsl(0 0% 0% / 1.00);
  --shadow-lg: 6.5px 0px 7px -0.5px hsl(0 0% 0% / 1.00), 6.5px 4px 6px -1.5px hsl(0 0% 0% / 1.00);
  --shadow-xl: 6.5px 0px 7px -0.5px hsl(0 0% 0% / 1.00), 6.5px 8px 10px -1.5px hsl(0 0% 0% / 1.00);
  --shadow-2xl: 6.5px 0px 7px -0.5px hsl(0 0% 0% / 2.50);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}